QWidget {
    background-color:rgb(231, 231, 231);
}

QLabel {
    background-color:rgb(79, 93, 104);
    color: white;
    font-size: 22px;
    font-weight: bold;
    border-radius: 10px;
    padding-bottom: 10px;
    padding: 4px;
}

QLineEdit {
    padding: 8px;
    color: black;
    border: 2px solidrgb(30, 121, 182);
    border-radius: 10px;
    background: white;
    font-size: 16px;
}

QTextEdit {
    color: black;
    font-size: 16px;
    padding-bottom: 10px;
}

QListWidget {
    background-color:rgb(88, 104, 117);
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 10px;
}

QListWidget::item {
    padding: 5px;
    background-color:rgb(169, 180, 189);
    border: 2px solid black;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

QPushButton {
    background-color:rgb(44, 72, 96);
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
}

QPushButton:hover {
    background-color:rgb(148, 186, 204);
}

